<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" dir="ltr" lang="pl">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
        <meta content="pl" http-equiv="Content-Language"/>
        <title>Optionall.pl</title>
    </head>

    <body>
        <h1>Wystąpił błąd serwera</h1>
        <p>Przepraszamy i prosimy za chwilę spróbować ponownie.</p>
        <p><a href="/">Powrót do głównej strony</a></p>
        <p>
            W razie dalszych problemów prosimy zgłosić problem dzwoniąc na numer 
            058 623 10 89 wewn. 36 lub kontaktując się mailowo na adres
            <a href="mailto:it@optionall.pl">it@optionall.pl</a>
        </p>
    </body>
</html>