{% extends "base_nonav.html" %}

{% block title %}Aktywacja - Optionall.pl{% endblock %}
{% block pdivClass %}activfail{% endblock %}


{% block content %}
<div class="section stop text">
<div class="corner tl"></div><div class="corner bl"></div>

    <h1>Aktywacja</h1>

    <ul class="infoBox error">
        <li class="ic">
            <div class="ic itl"></div><div class="ic itr"></div><div class="ic ibr"></div><div class="ic ibl"></div>
            <div class="icon"></div>
        </li>
        <li>Aktywacja nie powiodła się. Użyty link aktywujący jest nieprawidłowy.<br/>
            Proszę zweryfikować jego poprawność i spróbować ponownie.
        </li>
    </ul>

    <p>W razie dalszych problemów prosimy o <a href="{{ helpLinks.contact.url }}">kontakt z obsługą sklepu</a>.</p>
    
</div>
{% endblock %}