{% extends "base_nonav.html" %}

{% block title %}Rejestracja zakończona - Optionall.pl{% endblock %}
{% block pdivClass %}activated{% endblock %}

{% block content %}
<div class="section stop text">
<div class="corner tl"></div><div class="corner bl"></div>

    <h1>Twoje konto jest teraz aktywne</h1>

    <ul class="infoBox">
        <li class="ic">
            <div class="ic itl"></div><div class="ic itr"></div><div class="ic ibr"></div><div class="ic ibl"></div>
            <div class="icon"></div>
        </li>
        <li>Jeśli chcesz możesz teraz uzupełnić profil o dane adresowe.
            Możesz to także zrobić w trakcie składania pierwszego zamówienia.

            <a href="{% url dshop-cprofile %}">Chcę uzupełnić mój profil</a>
        </li>
    </ul>
    
    <p><a class="button" href="{% url dshop.main.views.mainpage %}"><em></em><span></span>Powrót do sklepu</a></p>

</div>
{% endblock %}