{% extends "base_nonav.html" %}

{% block title %}Zapomniałem hasło - Optionall.pl{% endblock %}
{% block pdivClass %}recover_password{% endblock %}

{% block content %}
<div class="section stop">
    <div class="corner tl"></div><div class="corner bl"></div>

    <h1 class="space icon"><em></em>Odzyskaj hasło</h1>

    <form class="base bold etop ebottom" action="." method="post">
        <h2>Podaj adres email który jest powiązany z Twoim kontem.</h2>
        <p>Na ten adres wyślemy email z instrukcją resetowania hasła.</p>
        <fieldset class="first">
            {{ form.next }}

            <ul>
                <li>
                    {{ form.email.errors }}
                    <label for="id_email">Email:</label>
                    {{ form.email }}
                </li>
            </ul>
            
            <button type="submit" id="btn_recover_password" class="button submit"><em></em><span></span>Odzyskaj hasło</button>            
        </fieldset>        
    </form>
</div>
{% endblock %}
