amqplib==0.6.1
anyjson==0.2.5
carrot==0.10.7
celery==2.1.2
Django==1.2.1
django-celery==2.1.2
django-compress==1.0.1
django-debug-toolbar==1.2.2
django-localeurl==1.4
django-mptt==0.3.1
django-picklefield==0.1.8
httplib2>=0.9
ipython==0.10
lxml==2.2.8
PIL==1.1.7
premailer==1.9
psycopg2>=2.5
pyparsing==1.5.5
python-apt>=0.7.96.1
python-dateutil==1.5
simplejson==2.1.1
sorl-thumbnail==3.2.5
SQLAlchemy==0.6.3
sqlparse==0.1.13
