<html>
<body>

<form action="http://localhost:8000/payment-status/" method="post">
    <ul>
    <li>id<input type="text" name="id" value="16274"/></li>
    <li>t_status<input type="text" name="t_status" value="2"/></li>
    <li>control<input type="text" name="control" value="dshop:371"/></li>
    <li>t_id<input type="text" name="t_id" value="T-371"/></li>
    <li>amount<input type="text" name="amount" value="300.00"/></li>
    <li>email<input type="text" name="email" value="lukasz.korzybski@gmail.com"/></li>
    <li>md5<input type="text" name="md5" value="c387b1eb79e0a3323aba0849f94cd2d3"/></li>
    </ul>
    <button type="submit">Submit</button>
</form>

</body>
</html>